# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual Environments
.venv/
venv/
env/

# VS Code - Auskommentiert, da Schulprojekt
# .vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
robot_log.txt
